
<div id="sandbox">
    Atomos Console Loading...
</div><!-- Templates -->
<!-- The sandbox template: -->
<script type="text/template" id="tplSandbox">
<pre class="output"></pre>
    <div class="input">
        <textarea rows="1" placeholder="<%= placeholder %>"></textarea>
    </div>
</script><!-- The command/result template (NB whitespace/line breaks matter inside <pre> tag): -->
<script type="text/template" id="tplCommand">
<% if (! _hidden) { %><span class="command"><%= command %></span>
<span class="prefix"><%= this.resultPrefix %></span><span class="<%= _class %>"><%= result %></span><% } %>
</script>
<!-- Scripts -->
<!-- Underscore, Backbone, backbone-localStorage, jQuery -->
<script src="../js/underscore.min.js" type="text/javascript">
</script><script src="../js/backbone.min.js" type="text/javascript">
</script><script src="../js/backbone-localStorage.min.js" type="text/javascript">
</script><!-- The JS Sandbox Console script (requires underscore, backbone and jquery): -->
<script src="../js/sandbox-console.js" type="text/javascript">
</script><!-- When ready, create the model and view -->
<script type="text/javascript">
$(document).ready(function($) {
  // Create the sandbox:
  window.sandbox = new Sandbox.View({
      el : $('#sandbox'),
      model : new Sandbox.Model({
          iframe : false,  // evaluate commands inside a hidden iframe (default: false)
          fallback : true // use global eval if iframe isn't available (default: true)
      }),
      resultPrefix : "  => ",
      helpText : ig.game.helpText,
      placeholder : "Enter Code Here...",
  });
  sandbox.model.load("./scripts/load-atomos.js");
});
